<p>
  <b>Tape:</b>
  <%=h @shot.tape_id %>
</p>

<p>
  <b>Shot in:</b>
  <%=h @shot.shot_in %>
</p>

<p>
  <b>Shot out:</b>
  <%=h @shot.shot_out %>
</p>

<p>
  <b>Actors:</b>
  <%=h @shot.actors %>
</p>

<p>
  <b>Campus:</b>
  <%=h @shot.campus %>
</p>

<p>
  <b>Location:</b>
  <%=h @shot.location %>
</p>

<p>
  <b>Province:</b>
  <%=h @shot.province %>
</p>

<p>
  <b>Country:</b>
  <%=h @shot.country %>
</p>

<p>
  <b>Topic:</b>
  <%=h @shot.topic %>
</p>

<p>
  <b>Keywords:</b>
  <%=h @shot.keywords %>
</p>


<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>